PORT=4000
JWT_SECRET=change-me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=room_booking
POSTGRES_USER=room_user
POSTGRES_PASSWORD=room_pass
SPANNER_EMULATOR_HOST=localhost:9010
SPANNER_PROJECT_ID=local-project
SPANNER_INSTANCE_ID=local-instance
SPANNER_DATABASE_ID=room_booking_global
